@Echo OFF
REM This is a simple backup procedure. It maintains
REM a copy of the last three backups.
REM History
REM   2008-07-22  Soeiro  Created
del @backupDir@\@namespace@-old2.7z
ren @backupDir@\@namespace@-old1.7z @namespace@-old2.7z
ren @backupDir@\@namespace@.7z @namespace@-old1.7z
7z a @backupDir@\@namespace@.7z -x!*tmp -x!build* -x!*bak -x!.bzr* -x!*.log