<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Alphalinc Development Environment - Templates</title>
<meta creator="soeiro" />

</head>
<body>

<a href="../index.html">Home of documentation</a>
<h2>Alphalinc Development Environment - Templates</h2>
<p>Location: docs/templates

<p>Templates are initial configuration files that the user needs to copy 
to the correct location and edit to match their current system parameters.

<p>Please note that the templates must <b>not</b> be changed in place! The user have to copy the file to
 the correct location and then change it. When a template file is copied to  the correct location and 
then changed it becomes a user configuration file. COnfiguration files are not under version control because
every user has its own environment settings.

<p> The configuration files are:
</p>

<table border="1">
	<tr>
		<th>
		Template name
		</th>
		<th>
		Destination
		</th>
		<th>
		Purpose
		</th>
	</tr>

	<tr>
		<td>
		<b>local.properties</b>
		</td>
		<td>
		project-base-dir\local.properties <br>
		(example: <b>c:\soeiro\AlphalincMain\</b>local.properties)
		</td>
		<td>
		This file stores the paths names and other parameters needed by the core
		of the build scripts.
		</td>
	</tr>

	<tr>
		<td>
		<b>authentication.conf</b>
		</td>
		<td>
 		Linux: $HOME/.bazaar/authentication.conf <br>

		<p>
		Windows (a single line):

c:\Document and Setting\USERNAME\Application Data\bazaar\2.0\authentication.conf

</p>

<p>(USERNAME is the name of the user login to Windows)

		</td>
		<td>
		This file handles the authentication information for the bzr commands. When it
		is properly setup, the user don't have to type its authentication information
		all the time.
		<a href="http://doc.bazaar-vcs.org/bzr.dev/en/user-guide/authentication_conf.html">
		Complete information can be obtained here</a>. 
		</td>
	</tr>



</table>


</body>
</html>