@cacheUsername@
@cachePassword@

; @scriptDescription@
; This script was built from a common script template.
; The specific part starts at line # 36
;
;History:
;2009-Apr-03	Soeiro	Created
;

; Begin script
zn "@namespaceCapitalized@"

; ----------------------------------------------



