/* Modified Date: 2014-03-28 09:15:30: */
/* Modified Language: 1742866665: */
DIV A { text-decoration:none; }

* { -moz-box-sizing:border-box; box-sizing:border-box;}
.TABLEtest { border-collapse:collapse; padding:0px; margin:0px; border:0px; } 
.gDIVsh, .gDIVex, .gDIVhd	{ position:relative; overflow-x:hidden; overflow-y:hidden; display:table}
.gDIVhd 		{ overflow:visible; }
.gDIVsh 		{ background-color:whitesmoke; border:2px solid gray; }
.gDIVex 		{ background-color:ivory;      border:2px solid blue; }

.gDIVbd	{ position:relative; overflow-x:auto; overflow-y:auto; }

.DIVin	{ position:relative; width:100%; height:100%; }

.DIVtxt { margin-bottom:0pt; margin-top:0pt; margin-left:2pt; margin-right:2pt; padding:0; font-weight:normal; border:none; }


.TABLEhd,.TABLEbd { table-layout:fixed; overflow:hidden; float:left;}
.TABLEhd          { position:relative; left:0px; }
.TABLEbd          { font-size:12pt; font-family:Script;}


.TH           { padding-left:0px; padding-right:0px; text-align:left; }
.THbtns       { width:100%; padding:0px; text-align:right; align:right; }

.THkey,.THfld { border:1px outset white; text-align:center; cursor:pointer; overflow:hidden; }
.THfld        { font-family:Arial; -moz-user-select:none;}
.THhide       { overflow:hidden; display:none; border:none;}
.THhideIE     { overflow:hidden; visibility:hidden; }


.TDkey,.TDfld,.TDfldEx,.TDkeyEx   { border:1px outset white; overflow:hidden; padding:0px; }
.TDkey        { cursor:default; }
.TDhide       { overflow:hidden; display:none; }
.TDhideIE     { overflow:hidden; visibility:hidden; }

.TDreq        { border:1px solid red; }
.TDspan       { white-space:nowrap; }


.IN,.INsearch,.INdate,.INnew,.SEL { border:none; padding-top:0; padding-bottom:0; font-weight:normal; }

.IN 		{ width:100%; }
.INsearch	{ position:relative; top:0pt; }
.INdate	{ width:60pt; }
.INnew		{ background-color:lightgoldenrodyellow; font-family:arial; font-size:10pt; }

.SEL		{ text-align:left; }


.IMGcell          { position:absolute; top:-1pt; right:0pt; cursor:pointer; }