.first-group {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.second-group{
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td, .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
    background-color: #337ab7;
    color: #fff;
}

.dx-tab.dx-tab-selected{
 	color:darkblue;
 	font-weight: 500;
 	font-style: italic;  
	box-shadow: 4px -4px 5px #666;
}

.dx-header-row{
 	background-color:#eee;
 	padding: 0px;
}
.dx-header-row > td{
 	color:#333;
 	font-weight: 400;  
}

.dx-layout-manager .dx-tabpanel .dx-multiview-item-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.form-avatar {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    border: 1px solid #d2d3d5;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.dx-fa-button-icon, .dx-fa-button-icon-close {
    text-align: center;
}
.panel-body{
}
#app-container {
    height: 360px;
    width: 320px;
}
p {
    text-align: center;
}

.dx-form .negrito .dx-field-item-label {  
    font-weight: bold;  
    font-style: italic;
    
}
.dx-scrollbar-vertical { width: 15px  !important;	}
.dx-scrollbar-vertical .dx-scrollable-scroll { width: 15px  !important; }
.dx-scrollbar-horizontal  { height: 15px !important; }
.dx-scrollbar-horizontal .dx-scrollable-scroll  { height: 15px !important; }  


#toolbar {
	background-color: #eee;
	padding: 5px 10px;
}

.toolbar-label,
.toolbar-label > b {
	font-size: 18px;
}
 
.dx-list-item-icon-container, .dx-toolbar-before {
	width: 36px;
	padding-right: 0px !important;
	text-align: center;
}
#toolbar .dx-toolbar-button > .dx-item-content > .dx-button{
	box-shadow: 2px 2px 3px #666;
}
.sombras {
	box-shadow: 2px 2px 3px #666;
}
.dx-tabs-wrapper{
	background-color:#ccc;
	color:#fff!important;
	box-shadow: 0px 0px 0px #aaa;
}
.dx-tabpanel-container{
	box-shadow: 2px 2px 3px #666;
}

.dx-item.dx-tab,
.dx-item.dx-tab.dx-tab-selected,
.dx-tab-selected:after,
.dx-tabs,
.dx-tabs-wrapper,
.dx-tabpanel-container,
.dx-tabpanel{
	border-radius: 7px 7px 0px 0px;
}
.dx-item.dx-tab{
	border-right:1px solid #aaa;
}
.dx-texteditor.dx-state-focused:not(.dx-state-readonly){
	background-color:#ffffdd;
}

