body {
    background: #000 url('../img/bg-alpha-lean.jpg') top center no-repeat;
    background-size: cover;
}

.header {
    background: url('../img/bg-header-lean.png') center right no-repeat;
}

h1 {
    background: url('../img/logo-alpha-lean.png') center no-repeat;
}

.content {
	background: url('../img/bg-content-lean.png') 0 0 no-repeat;
}

button {
    background: url('../img/bt-entrar-lean.png') 0 0 no-repeat;
}