		.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
			white-space: normal;
		}
		
		.inline-edit-cell.form-control {
			height: 23px;
			padding-top: 0;
			padding-bottom: 0;
		}
		
		.inline-input-button {
			height: 23px;
			padding-top: 1px;
			padding-bottom: 3px;
			padding-left: 8px;
			padding-right: 9px;
		}
		
		.text-center {
			text-align: center !important;
		}
		
		.subgrid-data .ui-jqgrid-bdiv {
			overflow: hidden;
		}
		
		.subgrid-data .ui-jqgrid-hdiv {
			display: none;
		}
		
		.row-polo {
			/*background: gainsboro;*/
		}
		
		.panel-actions {
			margin-top: -20px;
			margin-bottom: 0;
			text-align: right;
		}
		
		.panel-actions a {
			color: #333;
		}
		
		.over-row {
			background: #e1f5fe !important;
		}
		
		.row-polo {
			background: #f9f9f9 !important;
		}
		
		.row-base {
			background: #ffffff !important;
		}
		
		.selected-row {
			background: #d8eaf5 !important;
		}
		
		.ui-jqgrid-labels {
			background-color: #dadada !important;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#cacaca)) !important;
			background-image: -webkit-linear-gradient(top, #dadada, #cacaca) !important;
			background-image: -moz-linear-gradient(top, #dadada, #cacaca) !important;
			background-image: -ms-linear-gradient(top, #dadada, #cacaca) !important;
			background-image: -o-linear-gradient(top, #dadada, #cacaca) !important;
			background-image: linear-gradient(top, #dadada, #cacaca) !important;
			zoom: 1;
			text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
			text-align: center;
			font-size: 1.1em
		}
		
		input[type="form-button"] {
			margin-left: -50px;
			height: 25px;
			width: 50px;
			background: blue;
			color: white;
			border: 0;
			-webkit-appearance: none;
		}
		
		.label-link {
			cursor: pointer;
			cursor: hand;
		}
		
		input:disabled {
			cursor: text !important;
		}
		
		.inline-button {
			border-radius: 4px !important;
			height: 23px;
			padding-top: 1px;
			padding-bottom: 3px;
			padding-left: 8px;
			padding-right: 9px;
			
		}
		
		th.ui-th-column div {
			white-space: normal !important;
			height: auto !important;
			padding: 2px;
			text-align: center !important;
			vertical-align: middle !important;
		}
		
		.navbar-btn {
			margin-right: 15px;
		}
		
		.hint-cell {
			position: relative;
		}
		
		.hint-cell:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			display: block;
			border-left: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-top: 10px solid #007bc4;
		}
