@media print {
	.customBtn {
		visibility: hidden;
		display: none;
	}

	#fieldFormFrame {

		visibility: hidden;
		display: none;
	}

	#btn_addNewField {
		visibility: hidden;
		display: none;
	}

	.customBtn_tab {
		visibility: hidden;
		display: none;
	}

	.btn.btn-info {
		visibility: hidden;
		display: none;
	}
	.btn.btn-default {
		visibility: hidden;
		display: none;
	}

	.btn.btn-default {
		visibility: hidden !important;
		display: none !important;
	}

	.disable-target.disabled-link {
		visibility: hidden;
		display: none;
	}

}

.smallInfo {
	margin: 0 10px;
	font-size: x-small;
	color: #777;
	font-weight: 500;
}

.cardInfo {
	background-color: white;
	box-shadow: 0px 2px 9px 0px #5c9bd185;
	border-radius: 8px;
	padding: 1em 2em;
}

.cardProp {
	border-radius: 8px;
	padding: 1em 1em;
	background: aliceblue;
}

.camposAba {
	margin: 0 10px;
}

.Aba {
	border-left: 3px solid #b3dcff;
	border-radius: 5px;
	padding-left: 1em;
}

.grupoInAba {
	border-left: 2px solid #5c9bd1;
	border-radius: 5px;
	padding-left: 1em;
}

.d-flex {
	display: flex;
	align-items: baseline;
}

.fs-Prop {
	font-size: 0.8em;

}

.fs-ShowTypeProp {
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	line-height: 1.42 !important;
	width: 100% !important;
	outline: 0 !important;
	overflow-y: auto !important;
	/* padding: 12px 15px; */
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
}

.fs-ShowTypeProp p {
    /* padding: 0px !important; */
    margin: 3px !important;
}

#path {
	margin: 0;
}

#formFrame {
	width: 100%;
	height: 100%;

}

.FrameOff {
	pointer-events: none;
	box-shadow: 0px 1px 10px 4px #dfecf6;
}

.btn-collapse {
	text-align: start;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-collapseOpen {
	background: aliceblue !important;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
}

.customBtn {
	background: none;
	border: none;
	color: #337ab7;
	outline: none;
	padding: 0.3em;
	font-size: 15px;
	transition: background, color 0.2s ease;
}

.customBtn:hover {
	border: none;
	color: #f0f8ff;
	border-radius: 3px;
	padding: 0.3em;
	font-size: 15px;
	background: #83b1da;
}

.confirmEdit {
	background: none;
	border: none;
	color: #42b12e;
	outline: none;
	padding: 0.3em;
	font-size: 15px;
	transition: background, color 0.2s ease;
}

.confirmEdit:hover {
	border: none;
	color: #f0f8ff;
	border-radius: 3px;
	padding: 0.3em;
	font-size: 15px;
	background: #83b1da;
}

.closeHover:hover {
	backdrop-filter: brightness(2);
	box-shadow: 0px 0px 5px 2px red;
}

.customBtn_tab {
	background: none;
	border: none;
	color: #337ab7;
	outline: none;
	font-size: 15px;
	padding: 0.3em;
	transition: background, color 0.2s ease;
}

.customBtn_tab:hover {
	border: none;
	color: #f0f8ff;
	border-radius: 3px;
	font-size: 15px;
	padding: 0.3em;
	background: #83b1da;
}

.confirmEdit_tab {
	background: none;
	border: none;
	color: #42b12e;
	outline: none;
	font-size: 15px;
	padding: 0.3em;
	transition: background, color 0.2s ease;
}

.confirmEdit_tab:hover {
	border: none;
	color: #f0f8ff;
	border-radius: 3px;
	padding: 0.3em;
	font-size: 15px;
	background: #83b1da;
}

.d-grid {
	display: grid !important;
}

#addNewFields {
	border: solid 2px aliceblue;
	border-radius: 10px;
}

#addNewFields.closeaddNewFields {

	border: none;
}