.bg-blue-soft{
	background-color:#b5c1d7;
}

.bg-blue-light{
	background-color:#90caf9;
}

.bg-blue-dark{
	background-color:#36546F;
	color: #fafafa;
}

.bg-red{
	background-color:#C56C60;
}

.bg-yellow{
	background-color:#f3f2b5;
}

.bg-yellow-deep{
	background-color:#f8d08b;
}

.bg-green-light{
	background-color:#92d39e;
}

.bg-default{
	background-color:#EEEEEE;
}

.bg-gray-dark{
	background-color:#616161;
	color: #fafafa;
}
