body {
    margin: 0px 0px;
    font-family:arial;
    font-size:12px;
}
h1 {
    font-size: 16px;
    margin: 6px 0px 10px 0px;
    color: #FFFFFF;
}
h2 {
    font-size: 13px;
    color: #FFFFFF; 
    margin: 8px 0px;
}
h2 a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;   
}
h2 a:hover {
    background-color: #666666;  
}
h3 {
    font-size: 14px;
    margin: 4px 2px;
}
h4 {
    font-size: 14px;
    margin: 8px 0px 16px 0px;
    padding: 4px 8px;
    background-color:#2c6c7f;
    color: white;
    border: 1px solid #BABABA;
}
p {
    
    color:blue;
    background-color:#cccccc;
    font-weight:bold;
}

table {
    font-size: 11px;
    /*border: 1px solid #BABABA;*/
}
a {
    color: #000000;
}
a:hover {
    background-color: #CACACA;      
}
th {
    text-align: center;
    padding: 4px 6px;
}
td {
    padding: 4px 6px;
}
/*td.padder {
    padding: 4px 10px;  
}*/
.container {
	background-color: #F0F0F0;
	border-bottom: 1px solid #dfe9c9;
}
#container1 {
    float: right;
}
#container2 {
    float: left;
}
#container3 {
    float: right;
}
#container4 {
    float: left;
}
#container5 {
    float: right;
}

.containerResumo {
    float: left;
    margin-top: 15px;
    border-bottom: 1px solid #BABABA;
    background-color: #F0F0F0;
}
.currentPage {
    color: black;   
    background-color: white;
    padding: 5px;
}
.headerDiv {
    margin-bottom: 10px;
    padding: 8px 30px;
    background-color: #444444;  
    border: 1px solid #ebebfd;
    height: 30px;
}
.bodyDiv {
    padding: 0px 22px;
    text-align: left;
}
.leftDiv {
    width: 60%;
    float: left;
    padding: 0px 8px;
    margin-bottom: 2px; 
}
.leftBottomDiv {
    float: left;
    margin-bottom: 2px; 
}
.leftDivCaption {
    width: 60%;
    font-size: 11px;
    text-align: right;
    float: left;
    padding: 0px 8px;
    margin-bottom: 1px; 
}
.rightDiv {
    float: right;
    width: 35%;
    padding: 0px 8px;
    line-height: 16px;
}
.bottomDiv {
    width: 98.5%;
    margin: 16px 8px;
    float: left;
}
.navegacaoDiv {
    font-size: 26px;
    margin-bottom: 15px;        
}
div.modulo {
    margin: 0px 0px 46px 0px;
}
.tabelaResumo {
    border: 0;
    font-size: 12px;
    padding: 10px 14px;
}
.tabelaResumo td {
    padding: 1px;
}
.modulo a {
    background-color: #E0E0E0;
    font-size: 24px;
    padding: 20px 50px;
}
.modulo a:hover {
    background-color: #BABABA;  
}

#DescValor {
	 background-color: #E0E0E0;
	 width: 100%;
	 
}
.tableFiltro {
	width: 100%;
}
.tableFiltro td {
	/*border: 1px solid black;*/
}
.lblFiltro {
	font-size: 12px;
	text-align: right;
	padding: 0px;
	font-weight: bold; 
	padding-right: 5px;
}
.colFiltro1 {
	width: 10%;
}
.colFiltro2 {
	width: 30%;
	
}
.colFiltro3 {
	width: 13%;
	
}
.colFiltro4 {
	width: 15%;
	
}

fieldset {
	margin: 0px;
	border-top: 1px solid #C0C0C0;
}
legend {
  padding: 3px 6px;
  border: 1px solid #2c6c7f;
  color: #FFFFFF;
  background-color: #2c6c7f;
  text-align: left;
  font-weight: bold;
  margin-left: 5px;
  width: 100px;
}

/*Navegação*/
.breadcrumbs {
	font-size: 10px;
}
.logExecucao {
	float: right;
	font-size: 11px;
}
.breadlink {
	text-decoration: underline;
	color: blue;	
}
.breadlink:hover {
	text-decoration: underline;
}
.link {
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
	color:blue;
}
.contentSelector {
	text-decoration: underline;
	color: blue;
	font-size:11px;
	padding-right:2px;
}
.contentSelector:hover {
	text-decoration: underline;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color:blue;
}

.estiloValor {
	text-align: right;
}
.estiloTexto {
	text-align: left;
}
.TitGraphLeft {
	font-size: 14px;
	color: black;
	font-weight: bold;
	
	margin: 0;
	position: relative;
	text-align: center;
	top: 40%;
}

.TitGraphRight {
	margin: 0;
	position: relative;
	text-align: center;
	top: 32%;
}

.textRight {
	text-align: right;
}