/*** ZEN Style Sheet ***/
/*** Package:   alZEN.Component ***/
/*** Namespace:   SESDF-V3 ***/
/*** Generated: 2014-04-08 07:11:10 ***/
/* @class="alZEN.Component.Menu" */
#tree {
	border: 0px red solid;
	background: #CBE6EB;
	background-position: right;
	background-image: url(/csp/broker/images/docindexgradient.png);
	background-repeat: repeat-y;
	width: 100%;
	height: 600px;
	overflow: none;
}

#label {
	border: 1px darkblue solid;
	background: yellow;
	padding: 2px;
}

/* EOF */